* {
    box-sizing: border-box;
}

.lotery {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.lotery__tabs {
    display: flex;
    justify-content: space-around;
}

.lotery__tabs span {
    padding: 16px;
    flex-grow: 1;
    text-align: center;
    color: #fff;
    background-color: #188038;
    font-weight: bold;
}

.lotery__tabs span:hover {
    cursor: pointer;
}

.lotery__tabs span:first-child {
    background-color: #4b11a8;
}

.lotery__tabs span:last-child {
    background-color: #9b61f8;
}

.lotery__game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 64px;
    padding: 0 64px;
}

.lotery__warn {
    background-color: rgba(255, 0, 0, 0.3);
}

.lotery__warn h6 {
    margin: 5px;
    color: #333;
}

.lotery__warn span {
    color: #262121;
    font-weight: bold;
}

.lotery__container,
.lotery__container--no-border {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    max-width: 100%;
}

.lotery__container--no-border {
    border: none;
    gap: 5px;
    flex-basis: 250px;
}

.lotery__numbers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.lotery__controller {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.lotery__controller > label, .lotery__controller > input {
    flex-grow: 1;
}

.lotery__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.lotery__number {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.lotery__fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.lotery__fields input {
    width: calc(50% - 8px);
}

.text--center {
    text-align: center;
}

.background--disabled {
    background-color: #999 !important;
    color: #333 !important;
}

.lotofacil__title {
    color: #4b11a8;
}

.megasena__title {
    color: #188038;
}

.quina__title {
    color: #9b61f8;
}

.lotofacil__selected, .megasena__selected, .quina__selected {
    background-color: #b5178d;
    color: #fff;
}

.megasena__selected {
    background-color: #188038;
}

.quina__selected {
    background-color: #9b61f8;
}

@media only screen and (max-width: 600px) {
    .lotery {
        border: none;
        width: 100%;
    }

    .lotery__tabs {
        flex-direction: column;
    }

    .lotery__game {
        flex-direction: column;
        align-items: center;
    }

    .lotery__row {
        gap: 5px;
    }
}